/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url('../images/cover-image-dark.png');
  --background-color: #000028;
  --base-font-color: #F1B2CE;
  --accent-color: #FF0070;
  --header-accent-color: #FF0070;
  --color-decorated-title: #db00ff;
  --title-decor-color: #000028;
  --title-answer-color: #FF0070;
}

.theme-dark .header__decor_element {
  display: flex;
}

@media (prefers-color-scheme: dark) {

  :root {
    --background-image: url('../images/cover-image-dark.png');
    --background-color: #000028;
    --base-font-color: #F1B2CE;
    --accent-color: #FF0070;
    --header-accent-color: #FF0070;
    --color-decorated-title: #db00ff;
    --title-decor-color: #000028;
    --title-answer-color: #FF0070;
  }

}