/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background-color);
  font-size: var(--font-size);
  line-height: var(--base-line-height);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header, .main, .footer {
  position: relative;
  width: calc(100% - 20px);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  padding-block-start: 10px;
  padding-block-end: 10px;
  margin-block-end: 40px;
}

.header__decor_element {
  color: var(--accent-color);
  text-transform: uppercase;
  line-height: 25px;
  position: absolute;
  right: 9px;
  top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__decor_element::after {
  content: '';
  display: block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--header-accent-color);
  border-left: 1px solid var(--header-accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--header-accent-color);
  border-top: 1px solid var(--header-accent-color);
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    margin-block-start: 64px;
    margin-block-end: 56px;
}

.header__theme-menu-button {
  background: transparent;
  border: 0;
  font-size: var(--font-size);
  color: var(--header-accent-color);
  line-height: 18px;
  text-transform: lowercase;
  padding: 1.5px 13px;
  padding-bottom: 3px;
  outline: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.40);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--header-accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--header-accent-color);
  pointer-events: none;
}

.decorated-title {
  color: var(--color-decorated-title);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  line-height: 83%;
}

.title-decor {
  color: var(--title-decor-color);
  font-size: var(--font-size);
  font-weight: 700;
  line-height: var(--base-line-height);
  background-color: var(--accent-color);
}

.title-decor-addition {
  font-weight: 400;
}

.header__text {
  max-inline-size: 491px;
  align-self: center;
  justify-self: end;
}

/* Main */

.section_questions {
  display: grid;
  gap: 20px;
  padding-block-end: 50px;
}

.section_questions-title {
  color: var(--title-answer-color);
  font-size: var(--font-size);
  font-weight: 700;
  line-height: var(--base-line-height);
}

.section__what {
  display: flex;
  flex-direction: column;
}

.answer {
  font-size: var(--font-size);
  color: var(--base-font-color);
  line-height: var(--base-line-height);
}

.answer p {
  margin-block-start: 10px;
}

.answer_block {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.answer_link {
  text-shadow: 2.5px 1.5px 0px var(--accent-color);
  text-decoration: none;
}

.answer_link:hover {
  border-bottom: 1px solid var(--base-font-color);
}

.answer_link:focus {
  outline: none;
}

.answer_link:focus-visible {
  outline: 1px solid var(--base-font-color);
}

.title-decor:has(+ .title-decor-addition) {
  margin-block-end: 20px;
}


.section_pictures-block {
  display: grid;
  gap: 10px;
}

.section_pictures-title {
  margin-block-end: 10px;
}

.section_pictures-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  block-size: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 668px;
  margin-block-start: 40px;
  padding-block-end: 10px;
}

@media (width>=768px) {
  .header, .main, .footer {
    width: calc(100% - 40px);
  }

  .header__decor_element {
    top: 20px;
  }

  .header {
    min-block-size: 768px;
    padding-block-start: 20px;
    padding-block-end: 20px;
    margin-block-end: 60px;
  }

  .decorated-zone::after {
    top: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
  }

  .header__title {
    position: relative;
    left: -20px;
    margin-block-end: -6px;
  }

  .header__theme-menu-list {
    margin-block-start: 172px;
    margin-block-end: 181px;
  }

  .header__text {
    max-inline-size: 364px;
  }

  .section_questions {
    padding-block-end: 80px;
    grid-template-columns: 32.5% 65%;
  }

  .section_questions-title {
    max-inline-size: 236px;
  }

  .section_pictures-title {
    margin-block-end: 20px;
  }

  .section_pictures-block {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .section_pictures-item:nth-child(1) {
    grid-column: 1/3;
  }
  .section_pictures-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }
  .section_pictures-item:nth-child(3) {
    grid-row: 2/4;
  }
  .section_pictures-item:nth-child(5) {
    grid-column: 2/4;
  }

  .footer {
    min-block-size: 768px;
    margin-block-start: 60px;
    padding-block-end: 20px;
  }

  
}

@media (width >= 1024px) {
  
  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    margin: 0;
  }

  .decorated-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin: 0;
  }

  .header__text {
    max-inline-size: 491px;
  }
  
  .section_questions {
    grid-template-columns: 32% 66%;
  }

  .section_questions-title {
    max-inline-size: 315px;
  }
  
  .answer_block.answer_what {
    flex-direction: row;
  }

  .answer_what .answer {
    flex-basis: calc((100% - 40px) / 3);
  }

}
