/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url('../images/cover-image-dark.png');
  --background-color: #000028;
  --font-family: "IBM Plex mono", sans-serif;
  --font-size: 18px;
  --base-line-height: 23.4px;
  --base-font-color: #F1B2CE;
  --accent-color: #FF0070;
  --header-accent-color: #FF0070;
  --color-decorated-title: #db00ff;
  --title-decor-color: #000028;
  --title-answer-color: #FF0070;
}